/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica", "sans-serif";
}
body {
  clear: both;
}



/* -------------------------------------------- nav-vertical */
header {
  height: auto;
  width: 20%;
  float: left;
  position: fixed;
  /* debug */
  background-color: black;
}
.nav1 {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 40px;
  padding-left: 20px;
}

.nav2 ul li {
  color: white;
  line-height: 40px;
  list-style-type: none;
}

.nav2 p {
  color: white;
}

.space0 {
  padding-left: 5px;
}

#space1 {
  padding-top: 10%;
  font-weight: bold; 
}

#space2 {
  padding-top: 60%;;
  border-bottom: solid white 1px;
}


#logo-spotify {
  height: 50px;
  width: 160px;
  margin: 20px 0;
}

.logo {
  height: 25px;
  width: 25px;
}

.logo-down {
  height: 25px;
  width: 25px;
  margin-top: 20px;
}



/*  ----------------------------------------- Cover */

main {
  height: auto;
  width: 80%;
  float: right;
  overflow: hidden;
  padding-top: 110px;
  /* debug */
  background-color: rgb(31, 35, 40);

}

.cover {
  height: 100px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right:0;
}

button {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: solid white 1px;
  background-color: transparent;
  color: white;
  font-size: 12px;
  margin-right: 10px;
}





/* footer nav */

/* .footer-nav {
  height: 150px;
  width: 100%;

  /* debug */

  /* background-color: rgb(55, 55, 55);
