/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  clear: both;
}

header {
  display: flex;
}


/* nav-vertical */
.nav1 {
  height: 800px;
  width: 10%;
  display: flex;
  float: left;
  /* flex-direction: column; */
  /* debug */
  border: solid black 1px;
  background-color: red;
}

.cover {
  height: 800px;
  width: 90%;
  display: flex;
  float: left;
  /* flex-direction: column; */
  /* debug */
  border: solid black 1px;
  background-color: green;
}



/*  Cover */




/* footer nav */
.footer-nav {
  height: 150px;
  width: 100%;

  /* debug */
  
  background-color: rgb(55, 55, 55);
}
